@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://www.fontshare.com/fonts/chillax');

@font-face {
  font-family: 'Chillax Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Chillax Regular'), url('/fonts/Chillax-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Extralight';
  font-style: normal;
  font-weight: normal;
  src: local('Chillax Extralight'), url('/fonts/Chillax-Extralight.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Light';
  font-style: normal;
  font-weight: normal;
  src: local('Chillax Light'), url('/fonts/Chillax-Light.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Chillax Medium'), url('/fonts/Chillax-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Chillax Semibold'), url('/fonts/Chillax-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Chillax Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Chillax Bold'), url('/fonts/Chillax-Bold.woff') format('woff');
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chillax Medium';
}

.mainContainer {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
}

.mainContent {
  color: #ffffff;
}

.wrapper {
  position: absolute;
  width: 90%;
  max-width: 40em;
  background: linear-gradient(220.55deg, #DDE4FF 0%, #8DA2EE 100%);
  padding: 7em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 1em;

}

.soundIcon {
  cursor: pointer;
}

.controls-container {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  top: 0;
  z-index: 1;

}

.gifBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../public/gif/Animation.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 0;
}

#start,
#nextUnit {
  font-size: 1.2em;
  padding: 1.5em 3em;
  background-color: #f00050;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 2em;
  cursor: pointer;
}

.unitName {
  margin: 10px 0;
  color: #f00050;
  font-size: 24px;
  font-weight: 600;
}


#letter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em 0.4em;
  justify-content: center;
  margin-top: 2em;
}

.letter-button {
  margin-top: 2em;
}

.letter-button button {
  margin-top: 5px;
  cursor: pointer;
}

#letter-container button {
  background-color: #ffffff;
  color: rgb(40, 40, 40);
  outline: none;
  border-radius: 0.3em;
  cursor: pointer;
  height: 3em;
  width: 3em;
}

#letter-container .correct {
  background-color: #20B700;
  color: #ffffff;
  border: 2px solid #20B700;
}

#letter-container .incorrect {
  background-color: #FD2030;
  color: #ffffff;
  border: 2px solid #FD2030;
}

.hint-ref {
  margin-bottom: 1em;
  color: black;

}

.hint-ref span:first-child {
  font-weight: 600;
}

#chanceCount {
  margin: 1em 0;
  position: absolute;
  top: 0.62em;
  right: 2em;
  color: rgb(40, 40, 40);
}

#chanceCountTrue {
  font-weight: 600;
  margin: 1em 0;
  position: absolute;
  top: 0.62em;
  right: 10em;
  color: rgb(40, 40, 40);
}

#word {
  color: #f00050;
  font-weight: 600;
  margin: 1em 0 2em 0;
}

#word span {
  text-transform: uppercase;
  font-weight: 400;
}

.hide {
  display: none;
}

.source {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  transform: translateY(50px);
}

.source span {
  color: #f00050;
}

#result {
  color: rgb(40, 40, 40);
}

.inputSpace {
  color: rgb(40, 40, 40);
  display: inline;
}

.message {
  color: #FE6873;
}

nav a {
  text-decoration: none;
  font-size: 20px;
}

.active-link {
  color: rgba(240, 0, 80, 255);
}

.nav-links.active {
  background-color: white;
  border-bottom: 1px solid gainsboro;
}

.nav-links a:hover {
  color: rgba(240, 0, 80, 255);
  border-bottom: 2px solid rgba(240, 0, 80, 255);
}

.justify-between {
  justify-content: space-between;
}

.burger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  flex-direction: column;
  gap: 0.5rem;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: black;
}

/* Burger menu toggle animation */
.burger.toggle .line:nth-child(1) {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.burger.toggle .line:nth-child(2) {
  opacity: 0;
}

.burger.toggle .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
    padding: 20px 0;
  }

  .burger {
    display: flex;
  }
}

/* Responsive */

@media only screen and (max-width: 704px) {
  #letter-container button {
    height: 2.9em;
    width: 2.9em;
  }
}

@media only screen and (max-width: 500px) {
  #letter-container button {
    height: 2.4em;
    width: 2.4em;
  }

  #letter-container {
    gap: 0.2em 0.2em;
  }

  .wrapper {
    padding: 5em 1em;
  }
}

@media only screen and (max-width: 428px) {
  #letter-container button {
    height: 2em;
    width: 2em;
  }

  #letter-container {
    gap: 0.1em 0.1em;
  }

  .wrapper {
    padding: 5em 1em;

  }
}

@media only screen and (max-width: 407px) {
  #letter-container button {
    height: 1.9em;
    width: 1.9em;
  }
}